<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" style="cursor:grab">
            <ul class="nav nav-pills flex-column" *ngFor="let serv of servs;let i= index">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/perf/{{serv.Machine}}" [ngClass]="{'active': i==0}">
                        <i class="fa fa-area-chart" aria-hidden="true">{{serv.Machine}}</i>
                        <span *ngIf="i==0" class="sr-only">(Current)</span>
                    </a>
                    <ul class="nav nav-pills flex-column" *ngFor="let app of serv.Applications;let i= index">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/perf/{{serv.Machine}}/{{app.Application}}" style="margin-left:20px" [ngClass]="{'active': i==0}">
                                <i class="fa fa-server" aria-hidden="true"> {{app.Application}}</i> <br />
                                <i class="fa fa-rss" aria-hidden="true"> ({{serv.PlatForm}})</i>
                                <span *ngIf="i==0" class="sr-only">(Current)</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </nav>
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
